<!DOCTYPE html>
<head>
</head>
<body>
    <h1>{{title}} </h1>
     <form>
         <input type="text" placeholder=" Enter your Location">
         <input type="button" value="submit">
     </form>   

    <h1>created by sahith </h1>

    <p id="msg1"></p>
    <p id="msg2"></p>
    <p> Temperature : <h1 id="temp"></h1> </p>
    <script src="/js/app.js"></script>

</body>
